.root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 500px;
  height: auto;
}
.message{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px black;
  border-radius: 1px;

}
.textMessage{
  
}
.authorMessage{

}
.text{
  width: 250px;
  height: 90px;
}
.authorSend{
  display: flex;
  justify-content: space-between;
}
.author{
  width: 70px;
  height: 20px;
}