.root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 20px;
}
.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black;
  border-radius: 1px;

}
.sendForm{
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}
.MuiFormControl-root{
  padding: 10px !important;
}
.textMessage{
  display: flex;
  flex-direction: row;
}
.messageList{
  width: 420px;
  margin-bottom: 5px;
}
.text{
  width: 250px;
  height: 90px;
}
.authorSend{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.author{
  width: 70px;
  height: 20px;
}